@model ProjectApp.ViewModels.RandomCarViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.ListCustomers.Count > 5 ? "popular" : null;
}

<!-- className added only if class is not null -->
<h2 class="@className">@Model.Customers</h2>

@if (Model.ListCustomers.Count == 0)
{
    <p>No one has rented this car.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.ListCustomers)
        {
            <li>
                @customer.Name
            </li>
        }
    </ul>
}
