body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* for errors*/
.field-validation-error { 
    color : red;
}

.input-validation-error {
    border : 2px solid red;
}

#car img {
    position: absolute;
    top: 68%;
    left: 1%;
    width: 280px;
    height: 230px;
    animation-name: windBlow;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    background-repeat : repeat-x;
}

@keyframes windBlow {
    100% {
        transform : translateX(5400px);
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}
