@{
    ViewBag.Title = "Home Page";
}

<div class="Homepage" id="HomePageId">
    <div id="ContentOfMain">
        <h1>Rental Cars</h1>
        <button class="btn btn-secondary btn-lg">@Html.ActionLink("Add Customer", "New", "Customers", new { area = "" }, new { @class = "navbar-brand" })</button>
        <button class="btn btn-secondary btn-lg">@Html.ActionLink("Update Customer", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })</button>
    </div>
    <body background="~/Images/b.jpg">
        <div id="car">
            <img src="~/Images/car.png" alt="Sample Image" />
        </div>
    </body>
</div>
<div id="footer">
    <footer>
        <p>&copy; @DateTime.Now.Year - Rental Cars</p>
    </footer>
</div>