@model IEnumerable<ProjectApp.Models.Car>
@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>
@if (!Model.Any())
{
    <p>We don't have any cars yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Cars List</th>
                <th>Color</th>
                <th>Release Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model) 
            {
            <tr>
                <td>@Html.ActionLink(car.Name, "DisplayName", "Cars", new { id = car.Id }, null)</td>
                <td>@car.Color</td>
                <td>@car.ReleaseYear</td>
            </tr>
            }
        </tbody>
    </table>
}
